body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    align-self: center;
    height: 500px;
    width: 500px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid #000;
    height: 500px;
    width: 500px;
}

.cells{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
}