@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Press+Start+2P&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: yellow;
    color: black;
    font-family: 'Fascinate', cursive;
    min-width: 550px;
}

h1{
    text-align: center;
    margin: 0;
    padding: 20px;
}

.selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playerDisplay{
    text-align: center;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttons{
    font-size: x-large;
    height: 50px;
    width: fit-content;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px;
    font-family: 'Fascinate', cursive;
}

#restart{
    margin-top: 40px;
}

.container{
    display: none;
    justify-content: center;
    border: 2px solid #000;
    align-self: center;
    height: 500px;
    width: 500px;
    background-color: white;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid #000;
    height: 500px;
    width: 500px;
}

.cells{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    height: 161px;
    width: 161px;
    font-size: 120px;
    font-family: 'Press Start 2P', cursive;
}

footer{
    display: flex;
    font-size: larger;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
}